body {
  text-align: center;
}

.item {
  padding: 5px;
}

.editing-item {
  zoom: 120%;
}

.list .edited label:after {
  content: "edited";
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
  padding-left: 5px;
}

.list .completed label {
  text-decoration: line-through;
  color: gray;
}


.editing-label {
  cursor: pointer;
}